DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

MAIL_SERVICE_URL=
MAIL_SERVICE_APP_ID=
MAIL_SERVICE_APP_SECRET=
DEFAULT_FROM_MAIL=
SUPPORT_LINK=
SITE_BASE_URL=

AZURE_CONNECTION_STRING=
AZURE_ACCOUNT_NAME=
AZURE_ACCOUNT_KEY=
AZURE_CONTAINER=lumivis
AZURE_MEDIA_PREFIX=media
