# Environment / secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
media/

# Virtual environments
env/
venv/
nv/
.venv/

# Large media / video files
*.mp4
*.mov
*.avi
*.mkv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
